Parse IRC commands according to RFC1459

### Scope

- Parse commands universally according to the pseudo BNF from section 2.3.1 of RFC1459 https://tools.ietf.org/html/rfc1459#section-2.3.1
- Adjust the format of the current supported command to the new way of parsing them
  - Right now, for instance, `PING` command looks like `{ping, Host}`. Maybe after introducing a universal parsing we will have to add some extra fields, that are not used right now or something like that. 